*{
    font-family: 'Open Sans', sans-serif; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-btn{
    color: #FD6E0A;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
    display: flex;
    
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-btn{
    height: 64px;
    width: 150px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}
.nav-header{
    background-color: #FFF8F3;
}